<a href="https://cognitiveclass.ai"><img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DL0101EN-SkillsNetwork/images/IDSN-logo.png" width="400"> </a>

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the Keras library. 

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

<h2>Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Keras library to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [ ]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented. 
# If you run this notebook on a different environment, e.g. your desktop, you may need to uncomment and install certain libraries.

#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [5]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore', FutureWarning)

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [6]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

In [7]:
concrete_data.shape

(1030, 9)

#### Let's check how many data points we have.

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [8]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [9]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [10]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [11]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [12]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [13]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [14]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [15]:
import keras

Using TensorFlow backend.

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [16]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [17]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [18]:
# build the model
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [19]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 721 samples, validate on 309 samples
Epoch 1/100

2024-10-11 09:53:12.140866: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-10-11 09:53:12.146681: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394305000 Hz
2024-10-11 09:53:12.153493: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x559f14ddf5f0 executing computations on platform Host. Devices:
2024-10-11 09:53:12.153571: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-10-11 09:53:12.266883: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

 - 0s - loss: 1670.5249 - val_loss: 1157.8946
Epoch 2/100
 - 0s - loss: 1536.5960 - val_loss: 1037.2666
Epoch 3/100
 - 0s - loss: 1327.7052 - val_loss: 846.7711
Epoch 4/100
 - 0s - loss: 1010.1716 - val_loss: 594.3364
Epoch 5/100
 - 0s - loss: 633.0184 - val_loss: 359.4178
Epoch 6/100
 - 0s - loss: 340.8216 - val_loss: 221.2542
Epoch 7/100
 - 0s - loss: 233.2985 - val_loss: 181.5830
Epoch 8/100
 - 0s - loss: 212.3995 - val_loss: 171.9644
Epoch 9/100
 - 0s - loss: 200.8098 - val_loss: 173.0125
Epoch 10/100
 - 0s - loss: 192.6948 - val_loss: 169.0795
Epoch 11/100
 - 0s - loss: 186.5352 - val_loss: 166.7158
Epoch 12/100
 - 0s - loss: 181.2082 - val_loss: 164.3981
Epoch 13/100
 - 0s - loss: 176.5408 - val_loss: 163.5214
Epoch 14/100
 - 0s - loss: 172.9740 - val_loss: 161.1513
Epoch 15/100
 - 0s - loss: 169.4691 - val_loss: 160.8565
Epoch 16/100
 - 0s - loss: 166.0834 - val_loss: 159.4525
Epoch 17/100
 - 0s - loss: 163.2003 - val_loss: 156.4954
Epoch 18/100
 - 0s - loss: 161.1831 - val_loss: 156.5519
Epoch 19/100
 - 0s - loss: 158.4238 - val_loss: 156.2703
Epoch 20/100
 - 0s - loss: 156.2563 - val_loss: 153.9208
Epoch 21/100
 - 0s - loss: 154.4145 - val_loss: 154.7760
Epoch 22/100
 - 0s - loss: 153.3225 - val_loss: 153.8595
Epoch 23/100
 - 0s - loss: 151.4819 - val_loss: 153.1403
Epoch 24/100
 - 0s - loss: 149.4133 - val_loss: 154.4931
Epoch 25/100
 - 0s - loss: 148.2316 - val_loss: 153.9778
Epoch 26/100
 - 0s - loss: 146.3699 - val_loss: 154.9040
Epoch 27/100
 - 0s - loss: 145.4991 - val_loss: 154.4299
Epoch 28/100
 - 0s - loss: 143.5534 - val_loss: 153.6133
Epoch 29/100
 - 0s - loss: 142.4429 - val_loss: 155.2762
Epoch 30/100
 - 0s - loss: 141.1114 - val_loss: 156.7744
Epoch 31/100
 - 0s - loss: 140.2939 - val_loss: 156.5284
Epoch 32/100
 - 0s - loss: 140.6271 - val_loss: 153.3518
Epoch 33/100
 - 0s - loss: 138.1308 - val_loss: 160.5616
Epoch 34/100
 - 0s - loss: 136.7452 - val_loss: 156.8786
Epoch 35/100
 - 0s - loss: 135.5961 - val_loss: 158.3764
Epoch 36/100
 - 0s - loss: 134.1622 - val_loss: 160.1082
Epoch 37/100
 - 0s - loss: 133.0684 - val_loss: 159.6945
Epoch 38/100
 - 0s - loss: 131.1604 - val_loss: 158.8310
Epoch 39/100
 - 0s - loss: 130.5180 - val_loss: 161.6311
Epoch 40/100
 - 0s - loss: 128.9481 - val_loss: 160.4282
Epoch 41/100
 - 0s - loss: 128.0217 - val_loss: 163.3294
Epoch 42/100
 - 0s - loss: 126.2603 - val_loss: 164.4929
Epoch 43/100
 - 0s - loss: 125.3901 - val_loss: 164.6903
Epoch 44/100
 - 0s - loss: 123.6023 - val_loss: 162.0396
Epoch 45/100
 - 0s - loss: 121.7653 - val_loss: 166.6283
Epoch 46/100
 - 0s - loss: 119.8407 - val_loss: 165.2976
Epoch 47/100
 - 0s - loss: 118.5243 - val_loss: 171.3673
Epoch 48/100
 - 0s - loss: 116.8324 - val_loss: 163.6297
Epoch 49/100
 - 0s - loss: 114.4948 - val_loss: 167.0383
Epoch 50/100
 - 0s - loss: 112.7881 - val_loss: 167.4540
Epoch 51/100
 - 0s - loss: 111.0429 - val_loss: 170.5307
Epoch 52/100
 - 0s - loss: 108.5026 - val_loss: 170.2535
Epoch 53/100
 - 0s - loss: 106.1944 - val_loss: 168.6743
Epoch 54/100
 - 0s - loss: 104.6249 - val_loss: 167.0859
Epoch 55/100
 - 0s - loss: 101.7353 - val_loss: 168.5059
Epoch 56/100
 - 0s - loss: 99.3564 - val_loss: 168.4510
Epoch 57/100
 - 0s - loss: 97.5272 - val_loss: 162.4867
Epoch 58/100
 - 0s - loss: 94.6281 - val_loss: 170.0287
Epoch 59/100
 - 0s - loss: 91.5923 - val_loss: 164.0628
Epoch 60/100
 - 0s - loss: 88.0821 - val_loss: 164.5965
Epoch 61/100
 - 0s - loss: 85.2395 - val_loss: 164.8043
Epoch 62/100
 - 0s - loss: 81.9693 - val_loss: 166.4587
Epoch 63/100
 - 0s - loss: 78.7449 - val_loss: 155.4765
Epoch 64/100
 - 0s - loss: 76.6126 - val_loss: 157.1306
Epoch 65/100
 - 0s - loss: 72.9574 - val_loss: 152.1987
Epoch 66/100
 - 0s - loss: 69.8696 - val_loss: 152.5179
Epoch 67/100
 - 0s - loss: 67.1472 - val_loss: 145.6842
Epoch 68/100
 - 0s - loss: 64.2873 - val_loss: 147.4129
Epoch 69/100
 - 0s - loss: 61.5860 - val_loss: 149.6871
Epoch 70/100
 - 0s - loss: 59.5013 - val_loss: 146.8162
Epoch 71/100
 - 0s - loss: 57.2943 - val_loss: 144.7069
Epoch 72/100
 - 0s - loss: 55.8996 - val_loss: 143.8783
Epoch 73/100
 - 0s - loss: 53.9443 - val_loss: 153.3495
Epoch 74/100
 - 0s - loss: 52.4231 - val_loss: 142.5905
Epoch 75/100
 - 0s - loss: 51.2605 - val_loss: 140.9121
Epoch 76/100
 - 0s - loss: 49.5616 - val_loss: 135.1764
Epoch 77/100
 - 0s - loss: 48.3264 - val_loss: 149.5624
Epoch 78/100
 - 0s - loss: 46.9558 - val_loss: 144.5145
Epoch 79/100
 - 0s - loss: 45.9148 - val_loss: 142.7874
Epoch 80/100
 - 0s - loss: 45.4679 - val_loss: 137.3206
Epoch 81/100
 - 0s - loss: 44.2785 - val_loss: 148.9050
Epoch 82/100
 - 0s - loss: 43.6367 - val_loss: 136.0414
Epoch 83/100
 - 0s - loss: 42.7608 - val_loss: 142.0278
Epoch 84/100
 - 0s - loss: 42.2386 - val_loss: 138.5053
Epoch 85/100
 - 0s - loss: 41.1710 - val_loss: 146.3729
Epoch 86/100
 - 0s - loss: 40.6777 - val_loss: 145.2914
Epoch 87/100
 - 0s - loss: 40.3056 - val_loss: 145.5574
Epoch 88/100
 - 0s - loss: 39.6535 - val_loss: 148.9540
Epoch 89/100
 - 0s - loss: 39.6814 - val_loss: 148.7083
Epoch 90/100
 - 0s - loss: 39.0916 - val_loss: 133.9663
Epoch 91/100
 - 0s - loss: 39.4597 - val_loss: 139.6093
Epoch 92/100
 - 0s - loss: 37.9161 - val_loss: 147.6937
Epoch 93/100
 - 0s - loss: 37.7878 - val_loss: 142.4173
Epoch 94/100
 - 0s - loss: 37.1954 - val_loss: 145.8341
Epoch 95/100
 - 0s - loss: 36.7156 - val_loss: 140.5997
Epoch 96/100
 - 0s - loss: 36.5383 - val_loss: 154.1582
Epoch 97/100
 - 0s - loss: 36.5052 - val_loss: 147.3167
Epoch 98/100
 - 0s - loss: 35.5975 - val_loss: 148.7422
Epoch 99/100
 - 0s - loss: 35.2686 - val_loss: 135.2631
Epoch 100/100
 - 0s - loss: 35.3693 - val_loss: 142.4869

A. Build a baseline model (5 marks) 

Use the Keras library to build a neural network with the following:
- One hidden layer of 10 nodes, and a ReLU activation function
- Use the adam optimizer and the mean squared error  as the loss function.

In [20]:
target = "Strength"
X = concrete_data.copy()
y = X.pop(target)

X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [21]:
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [22]:
# number of predictors
n_cols      = X.shape[1]
input_shape = (n_cols,)

In [23]:
# 1. Randomly split the data into a training and test sets by holding 30% of the data for testing.
# You can use the train_test_split helper function from Scikit-learn.
from sklearn.model_selection import train_test_split

In [24]:
# 2. Train the model on the training data using 50 epochs.
from tensorflow import keras as K
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
    
# define regression model
def regression_model(network_arch,
                     input_shape,
                     optimizer = "adam",
                     loss = "mean_squared_error",
                    ):
    """
    Function to build the regression model
    
    parameters:
    -----------
      - network_arch: dictionary with the following structure
          {"layer_1": {"u_units": n, "activation": activation},
           ...
           "layer_n": {"u_units"}
          }
      - input_shape: tuple with the shape of the input
      - optimizer:   string, name of the optimizer to use
      - loss:        string, name of the loss function to minimize
      
    returns:
    --------
      - A compiled model
    """
    
    # create model
    model = Sequential()
    
    nlayers     = len(network_arch)
    final_layer = "layer_" + str(nlayers)
    
    for k,layer in network_arch.items():
        n_units    = layer.get("n_units")
        activation = layer.get("activation")
        if k == "layer_1":
            model.add(Dense(n_units, activation=activation, input_shape=input_shape))
        elif k == final_layer:
            model.add(Dense(n_units))
        else:
            model.add(Dense(n_units, activation=activation))
    
    # compile model
    model.compile(optimizer=optimizer, loss=loss)
    
    return model

# model architecture
model_architecture1 = {"layer_1": {"n_units": 10, "activation": "relu"},
                       "layer_2": {"n_units":  1},
                      }

print()
print("input_shape    = {}".format(input_shape))
print("network_config = {}".format(model_architecture1))
print()

input_shape    = (8,)
network_config = {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 1}}

In [25]:
# 3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength.
# You can use the mean_squared_error function from Scikit-learn.
# 4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

# import the metric to evaluate the model performance
from sklearn.metrics import mean_squared_error

# Define a function for the loops 
def train_and_test_several_models(X,y,
                                  test_size,
                                  model_arch,
                                  input_shape,
                                  optimizer,
                                  loss,
                                  niterations,
                                  epochs,
                                  pred_norm = False,
                                  seed = 345,
                                  verbose = 2,
                                 ):
    """
    Function for training and testing several model on random train/test splits
    
    parameters:
    -----------
      - X,y:         the data. X are the predictors and y the target
      - seed:        int, with a seed to be used in the train/test splitting
      - test_size:   float (0,0.5). Size of the test-sample as a fraction of the whole data-set
      - model_arch:  dict. Architecture of the model (see regression_model above)
      - input_shape: 2-tuple with the input shape
      - optimizer:   string. optimizer name
      - loss:        string. loss function name
      - niterations: int. number of iterations to perform the train/test split, model training and testing
      - epoch:       int. number of epochs for model training
      - pred_norm:   bool. If True will apply normalization on the predictors
      - verbose:     int >= 0. level of verbosity.
      
    returns:
    --------
      - mse_results: np.array with the sqrt(mse) metric evaluated on the test-samples
    """
    
    # Array to store the results of the model evaluation on the test set
    metric_list = np.zeros(niterations)
    
    print()
    print("Launching {} iterations of".format(niterations))
    print(" - train/test split => test_size = {}".format(test_size))
    if pred_norm:
        print(" - Apply predictors normalization")
    else:
        print(" - No    predictors normalization")
    print(" - model architecture: {}".format(model_arch))
    print(" - model training:")
    print("   * epochs    = {}".format(epochs))
    print("   * optimizer = {}".format(optimizer))
    print("   * loss      = {}".format(loss))
    print()
    
    # Start the loop
    for i in range(niterations):
        # Apply the train test split
        myseed = seed + i*2 # seed used for the train_test_split
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=myseed)

        # Start by building the model
        model = regression_model(network_arch = model_arch,
                                 input_shape  = input_shape,
                                 optimizer    = optimizer,
                                 loss         = loss)
        
        if pred_norm:
            # If requested apply predictors normalization
            # first calculate the mean and std on the train-sample
            X_train_mean = X_train.mean()
            X_train_std  = X_train.std()
            
            # then apply them on both, the train and test samples
            X_train = (X_train - X_train_mean)/X_train_std
            X_test  = (X_test  - X_train_mean)/X_train_std

        myverbose = 0
        if i == 0:
            myverbose = verbose
            print("Train/test splitting for iteration {}".format(i+1))
            print("  X_train.shape = {}".format(X_train.shape))
            print("  y_train.shape = {}".format(y_train.shape))
            print("  X_test.shape  = {}".format(X_test.shape))
            print("  y_test.shape  = {}".format(y_test.shape))
            print(X_train.head())
            print()
            print("Model summary for iteration {}".format(i+1))
            model.summary()
            print()
            print()

        # Model training
        model.fit(X_train, y_train, epochs=epochs, verbose=verbose)

        # model predictions on test sample
        y_pred = model.predict(X_test)

        # Model evaluation on test sample
        result = np.sqrt(mean_squared_error(y_test,y_pred))
        print("{}: sqrt(mse) = {}".format(i+1,result))
        metric_list[i] = result
    
    
    print()
    
    return metric_list

In [27]:
niterations = 50  # Number of iterations
test_size   = 0.3 # test sample size

In [31]:

sq_mse_list_A = train_and_test_several_models(X = X,
                                              y = y,
                                              test_size   = test_size,
                                              model_arch  = model_architecture1,
                                              input_shape = input_shape,
                                              optimizer   = "adam",
                                              loss        = "mean_squared_error",
                                              niterations = niterations,
                                              epochs      = 50,
                                              seed        = 345,
                                              verbose     = 0,
                                              pred_norm   = False,
                                             )

Launching 50 iterations of
 - train/test split => test_size = 0.3
 - No    predictors normalization
 - model architecture: {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 1}}
 - model training:
   * epochs    = 50
   * optimizer = adam
   * loss      = mean_squared_error

Train/test splitting for iteration 1
  X_train.shape = (721, 8)
  y_train.shape = (721,)
  X_test.shape  = (309, 8)
  y_test.shape  = (309,)
     Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  \
870   149.0               139.0    109.0  193.0               6.0
875   155.0               183.0      0.0  193.0               9.0
488   387.0                20.0     94.0  157.0              14.3
10    198.6               132.4      0.0  192.0               0.0
391   397.0                17.2    158.0  167.0              20.8

     Coarse Aggregate  Fine Aggregate  Age
870             892.0           780.0   28
875            1047.0           697.0   28
488             938.0           845.0    3
10              978.4           825.5   90
391             967.0           633.0   28

Model summary for iteration 1
Model: "sequential_50"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_100 (Dense)            (None, 10)                90
_________________________________________________________________
dense_101 (Dense)            (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________


1: sqrt(mse) = 30.266204288174567
2: sqrt(mse) = 12.286022933761723
3: sqrt(mse) = 39.346874736077794
4: sqrt(mse) = 11.807070340197841
5: sqrt(mse) = 12.16897371998306
6: sqrt(mse) = 28.60782003157349
7: sqrt(mse) = 10.770177414028751
8: sqrt(mse) = 18.19012650292734
9: sqrt(mse) = 28.74474192501325
10: sqrt(mse) = 20.273084970319236
11: sqrt(mse) = 11.275471868026974
12: sqrt(mse) = 24.2363280918378
13: sqrt(mse) = 13.274904069115756
14: sqrt(mse) = 11.275984782185827
15: sqrt(mse) = 10.785991729464644
16: sqrt(mse) = 12.97544488556831
17: sqrt(mse) = 12.640838841507037
18: sqrt(mse) = 29.318436991988875
19: sqrt(mse) = 22.518966636485143
20: sqrt(mse) = 16.702190085457612
21: sqrt(mse) = 38.30062006257052
22: sqrt(mse) = 21.96831147180636
23: sqrt(mse) = 17.075665726343942
24: sqrt(mse) = 16.75094234534979
25: sqrt(mse) = 11.478448023226353
26: sqrt(mse) = 12.386424273674487
27: sqrt(mse) = 32.46741474842888
28: sqrt(mse) = 18.5562795271933
29: sqrt(mse) = 10.528272566735218
30: sqrt(mse) = 9.128833515712593
31: sqrt(mse) = 11.843001113217067
32: sqrt(mse) = 10.718086723992748
33: sqrt(mse) = 11.442883565519056
34: sqrt(mse) = 25.245144776000778
35: sqrt(mse) = 22.170795462926606
36: sqrt(mse) = 22.662316227873145
37: sqrt(mse) = 12.057806337527468
38: sqrt(mse) = 15.088744135096706
39: sqrt(mse) = 11.045381877213313
40: sqrt(mse) = 43.5172011601873
41: sqrt(mse) = 34.78940988480746
42: sqrt(mse) = 24.831602495355227
43: sqrt(mse) = 14.941465208442182
44: sqrt(mse) = 10.287997890456944
45: sqrt(mse) = 18.98055581480151
46: sqrt(mse) = 10.540044248751634
47: sqrt(mse) = 11.388903559812269
48: sqrt(mse) = 10.968071203132547
49: sqrt(mse) = 12.598282064202245
50: sqrt(mse) = 17.26119179566503

In [32]:
# 5. Report the mean and the standard deviation of the mean squared errors.

# Calculate the mean and the standard deviation of the metric on the 50 samplings
mean_sqmse_A = np.mean(sq_mse_list_A)
std_sqmse_A  = np.std(sq_mse_list_A)

# Generate a data frame to store the results of the differents parts of this project
df_results = pd.DataFrame.from_dict({"Part": ["A"],"mean_sq_mse": [mean_sqmse_A], "std_sq_mse": [std_sqmse_A]})
df_results

  Part  mean_sq_mse  std_sq_mse
0    A    18.369715    8.708396

B. Normalize the data (5 marks) 

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?

In [33]:
# Just launch the function above (train_and_test_several_models), but with pred_norm = True
sq_mse_list_B = train_and_test_several_models(X = X,
                                              y = y,
                                              test_size   = test_size,
                                              model_arch  = model_architecture1,
                                              input_shape = input_shape,
                                              optimizer   = "adam",
                                              loss        = "mean_squared_error",
                                              niterations = niterations,
                                              epochs      = 50,
                                              seed        = 3675,
                                              verbose     = 0,
                                              pred_norm   = True,
                                             )

Launching 50 iterations of
 - train/test split => test_size = 0.3
 - Apply predictors normalization
 - model architecture: {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 1}}
 - model training:
   * epochs    = 50
   * optimizer = adam
   * loss      = mean_squared_error

Train/test splitting for iteration 1
  X_train.shape = (721, 8)
  y_train.shape = (721,)
  X_test.shape  = (309, 8)
  y_test.shape  = (309,)
       Cement  Blast Furnace Slag   Fly Ash     Water  Superplasticizer  \
723  0.260617           -0.863998 -0.825639  0.448707         -1.007613
112  1.477748            1.174001 -0.825639  0.163870          0.870100
278 -0.292281           -0.863998  1.058232  0.282552         -0.026465
641 -0.305490           -0.863998 -0.825639 -0.026021         -1.007613
270 -0.477209           -0.863998  1.110782 -0.405804          0.125781

     Coarse Aggregate  Fine Aggregate       Age
723          0.481434        0.718580 -0.271735
112         -1.145439       -0.775490 -0.608947
278          0.691353       -0.166115  0.884424
641          1.607829        0.596215 -0.608947
270          1.049752        0.088403 -0.496543

Model summary for iteration 1
Model: "sequential_100"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_200 (Dense)            (None, 10)                90
_________________________________________________________________
dense_201 (Dense)            (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________


1: sqrt(mse) = 19.59419607179734
2: sqrt(mse) = 19.91385476137385
3: sqrt(mse) = 25.878053435060593
4: sqrt(mse) = 28.12166972783161
5: sqrt(mse) = 18.321851359616407
6: sqrt(mse) = 15.866029116193454
7: sqrt(mse) = 16.926590606351176
8: sqrt(mse) = 17.064197445307617
9: sqrt(mse) = 19.358477306063232
10: sqrt(mse) = 20.14286214106534
11: sqrt(mse) = 17.36909781648796
12: sqrt(mse) = 19.706354768172297
13: sqrt(mse) = 17.926231734128866
14: sqrt(mse) = 22.58193665645396
15: sqrt(mse) = 15.003773839191078
16: sqrt(mse) = 19.154616126230735
17: sqrt(mse) = 19.839522257446173
18: sqrt(mse) = 15.87069084047239
19: sqrt(mse) = 19.722184655028215
20: sqrt(mse) = 19.11089296139258
21: sqrt(mse) = 15.26212358516104
22: sqrt(mse) = 17.323603987870253
23: sqrt(mse) = 16.912992167669223
24: sqrt(mse) = 18.105013689341515
25: sqrt(mse) = 16.971947317681252
26: sqrt(mse) = 22.382457811364656
27: sqrt(mse) = 18.186026472458774
28: sqrt(mse) = 18.750409880829775
29: sqrt(mse) = 19.128431487645624
30: sqrt(mse) = 15.560356349445389
31: sqrt(mse) = 16.575357463565734
32: sqrt(mse) = 19.058578133889775
33: sqrt(mse) = 21.2060468176145
34: sqrt(mse) = 22.06731554903552
35: sqrt(mse) = 18.788537201420418
36: sqrt(mse) = 23.993035245035
37: sqrt(mse) = 18.472119555690895
38: sqrt(mse) = 19.537182421294315
39: sqrt(mse) = 15.250087784433761
40: sqrt(mse) = 17.84814320086699
41: sqrt(mse) = 16.494205134682776
42: sqrt(mse) = 15.599246002787643
43: sqrt(mse) = 19.5163923508607
44: sqrt(mse) = 15.629433106464788
45: sqrt(mse) = 20.391597368439925
46: sqrt(mse) = 16.920871454618826
47: sqrt(mse) = 16.915940562926995
48: sqrt(mse) = 23.27343926833358
49: sqrt(mse) = 14.748740520604201
50: sqrt(mse) = 17.912218024740643

In [34]:
# Calculate the mean and the standard deviation of the metric on the 50 samplings
mean_sqmse_B = np.mean(sq_mse_list_B)
std_sqmse_B  = np.std(sq_mse_list_B)

df_results.loc[df_results.shape[0]] = ["B",mean_sqmse_B,std_sqmse_B]
df_results

  Part  mean_sq_mse  std_sq_mse
0    A    18.369715    8.708396
1    B    18.725099    2.758979

C. Increate the number of epochs (5 marks)

Repeat Part B but use 100 epochs this time for training.

How does the mean of the mean squared errors compare to that from Step B?

In [35]:
# Just launch the function above (train_and_test_several_models), but with pred_norm = True and epochs = 100
sq_mse_list_C = train_and_test_several_models(X = X,
                                              y = y,
                                              test_size   = test_size,
                                              model_arch  = model_architecture1,
                                              input_shape = input_shape,
                                              optimizer   = "adam",
                                              loss        = "mean_squared_error",
                                              niterations = niterations,
                                              epochs      = 100,
                                              seed        = 3675,
                                              verbose     = 0,
                                              pred_norm   = True,
                                             )

Launching 50 iterations of
 - train/test split => test_size = 0.3
 - Apply predictors normalization
 - model architecture: {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 1}}
 - model training:
   * epochs    = 100
   * optimizer = adam
   * loss      = mean_squared_error

Train/test splitting for iteration 1
  X_train.shape = (721, 8)
  y_train.shape = (721,)
  X_test.shape  = (309, 8)
  y_test.shape  = (309,)
       Cement  Blast Furnace Slag   Fly Ash     Water  Superplasticizer  \
723  0.260617           -0.863998 -0.825639  0.448707         -1.007613
112  1.477748            1.174001 -0.825639  0.163870          0.870100
278 -0.292281           -0.863998  1.058232  0.282552         -0.026465
641 -0.305490           -0.863998 -0.825639 -0.026021         -1.007613
270 -0.477209           -0.863998  1.110782 -0.405804          0.125781

     Coarse Aggregate  Fine Aggregate       Age
723          0.481434        0.718580 -0.271735
112         -1.145439       -0.775490 -0.608947
278          0.691353       -0.166115  0.884424
641          1.607829        0.596215 -0.608947
270          1.049752        0.088403 -0.496543

Model summary for iteration 1
Model: "sequential_150"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_300 (Dense)            (None, 10)                90
_________________________________________________________________
dense_301 (Dense)            (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________


1: sqrt(mse) = 13.315643876862246
2: sqrt(mse) = 12.77038775842495
3: sqrt(mse) = 13.65706425740786
4: sqrt(mse) = 13.272234988100834
5: sqrt(mse) = 13.196504039401892
6: sqrt(mse) = 12.783362627512092
7: sqrt(mse) = 11.941950940310493
8: sqrt(mse) = 12.722857577766064
9: sqrt(mse) = 14.126897423206943
10: sqrt(mse) = 12.304990135668248
11: sqrt(mse) = 12.63766178884582
12: sqrt(mse) = 14.961250027556067
13: sqrt(mse) = 12.21631022360255
14: sqrt(mse) = 12.558372906948117
15: sqrt(mse) = 12.626628327503118
16: sqrt(mse) = 13.56603963716084
17: sqrt(mse) = 13.213858500473114
18: sqrt(mse) = 11.74816662453081
19: sqrt(mse) = 13.822745305765537
20: sqrt(mse) = 12.399133972514703
21: sqrt(mse) = 13.26946065124307
22: sqrt(mse) = 12.622429790604297
23: sqrt(mse) = 13.010149459561042
24: sqrt(mse) = 12.318084194613956
25: sqrt(mse) = 12.079755180287227
26: sqrt(mse) = 12.610033214731086
27: sqrt(mse) = 12.603064199609843
28: sqrt(mse) = 12.835740932349747
29: sqrt(mse) = 13.268256956114582
30: sqrt(mse) = 13.249303356714849
31: sqrt(mse) = 12.647105514966764
32: sqrt(mse) = 12.199140525730655
33: sqrt(mse) = 12.22634057489953
34: sqrt(mse) = 12.448144846908034
35: sqrt(mse) = 12.222855583169135
36: sqrt(mse) = 12.763540132283225
37: sqrt(mse) = 13.418453280656486
38: sqrt(mse) = 12.30818264816704
39: sqrt(mse) = 13.644209101763822
40: sqrt(mse) = 12.858126382266503
41: sqrt(mse) = 13.225275131577467
42: sqrt(mse) = 12.274894866225512
43: sqrt(mse) = 14.493173928716962
44: sqrt(mse) = 11.423128913092837
45: sqrt(mse) = 13.502097916747799
46: sqrt(mse) = 12.403169016098404
47: sqrt(mse) = 12.409549705773257
48: sqrt(mse) = 11.392256467108464
49: sqrt(mse) = 12.849643448901688
50: sqrt(mse) = 12.790494931497882

In [36]:
# Calculate the mean and the standard deviation of the metric on the 50 samplings
mean_sqmse_C = np.mean(sq_mse_list_C)
std_sqmse_C  = np.std(sq_mse_list_C)

df_results.loc[df_results.shape[0]] = ["C",mean_sqmse_C,std_sqmse_C]
df_results

  Part  mean_sq_mse  std_sq_mse
0    A    18.369715    8.708396
1    B    18.725099    2.758979
2    C    12.824162    0.698012

D. Increase the number of hidden layers (5 marks)

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B?

In [37]:
# Define the new architecture
# model architecture
model_architecture2 = {"layer_1": {"n_units": 10, "activation": "relu"},
                       "layer_2": {"n_units": 10, "activation": "relu"},
                       "layer_3": {"n_units": 10, "activation": "relu"},
                       "layer_4": {"n_units":  1},
                      }

print()
print("input_shape    = {}".format(input_shape))
print("network_config = {}".format(model_architecture2))
print()

input_shape    = (8,)
network_config = {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 10, 'activation': 'relu'}, 'layer_3': {'n_units': 10, 'activation': 'relu'}, 'layer_4': {'n_units': 1}}

In [38]:
# Just launch the function above (train_and_test_several_models), but with pred_norm = True 
# and model_arch = model_architecture2 and epochs = 100
sq_mse_list_D = train_and_test_several_models(X = X,
                                              y = y,
                                              test_size   = test_size,
                                              model_arch  = model_architecture2,
                                              input_shape = input_shape,
                                              optimizer   = "adam",
                                              loss        = "mean_squared_error",
                                              niterations = niterations,
                                              epochs      = 50,
                                              seed        = 3675,
                                              verbose     = 0,
                                              pred_norm   = True,
                                             )

Launching 50 iterations of
 - train/test split => test_size = 0.3
 - Apply predictors normalization
 - model architecture: {'layer_1': {'n_units': 10, 'activation': 'relu'}, 'layer_2': {'n_units': 10, 'activation': 'relu'}, 'layer_3': {'n_units': 10, 'activation': 'relu'}, 'layer_4': {'n_units': 1}}
 - model training:
   * epochs    = 50
   * optimizer = adam
   * loss      = mean_squared_error

Train/test splitting for iteration 1
  X_train.shape = (721, 8)
  y_train.shape = (721,)
  X_test.shape  = (309, 8)
  y_test.shape  = (309,)
       Cement  Blast Furnace Slag   Fly Ash     Water  Superplasticizer  \
723  0.260617           -0.863998 -0.825639  0.448707         -1.007613
112  1.477748            1.174001 -0.825639  0.163870          0.870100
278 -0.292281           -0.863998  1.058232  0.282552         -0.026465
641 -0.305490           -0.863998 -0.825639 -0.026021         -1.007613
270 -0.477209           -0.863998  1.110782 -0.405804          0.125781

     Coarse Aggregate  Fine Aggregate       Age
723          0.481434        0.718580 -0.271735
112         -1.145439       -0.775490 -0.608947
278          0.691353       -0.166115  0.884424
641          1.607829        0.596215 -0.608947
270          1.049752        0.088403 -0.496543

Model summary for iteration 1
Model: "sequential_200"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_400 (Dense)            (None, 10)                90
_________________________________________________________________
dense_401 (Dense)            (None, 10)                110
_________________________________________________________________
dense_402 (Dense)            (None, 10)                110
_________________________________________________________________
dense_403 (Dense)            (None, 1)                 11
=================================================================
Total params: 321
Trainable params: 321
Non-trainable params: 0
_________________________________________________________________


1: sqrt(mse) = 10.14768022556799
2: sqrt(mse) = 10.298932357141279
3: sqrt(mse) = 11.822401051228926
4: sqrt(mse) = 12.40539556514188
5: sqrt(mse) = 10.020538227072073
6: sqrt(mse) = 10.863963231122428
7: sqrt(mse) = 10.724274196954136
8: sqrt(mse) = 11.952858779994902
9: sqrt(mse) = 11.513286543504824
10: sqrt(mse) = 11.595918966997267
11: sqrt(mse) = 11.202327963866237
12: sqrt(mse) = 11.204513214269394
13: sqrt(mse) = 10.67620127085305
14: sqrt(mse) = 12.0262394197516
15: sqrt(mse) = 10.726300569948245
16: sqrt(mse) = 12.305444388286556
17: sqrt(mse) = 12.07248035115326
18: sqrt(mse) = 10.941003599457014
19: sqrt(mse) = 11.672125821042828
20: sqrt(mse) = 11.13956764726714
21: sqrt(mse) = 12.109912255067375
22: sqrt(mse) = 11.685193723193011
23: sqrt(mse) = 11.811381670362783
24: sqrt(mse) = 11.603816922516335
25: sqrt(mse) = 11.12411318641293
26: sqrt(mse) = 11.534702235740754
27: sqrt(mse) = 11.135706492893785
28: sqrt(mse) = 9.705189034542018
29: sqrt(mse) = 11.477093224834043
30: sqrt(mse) = 10.726608244426203
31: sqrt(mse) = 10.931785471697504
32: sqrt(mse) = 11.27570530301352
33: sqrt(mse) = 11.60773737821011
34: sqrt(mse) = 11.23055908850452
35: sqrt(mse) = 10.57189207045028
36: sqrt(mse) = 11.414254923072257
37: sqrt(mse) = 11.07344502247903
38: sqrt(mse) = 11.339414319410698
39: sqrt(mse) = 11.343796055870746
40: sqrt(mse) = 11.777034826249352
41: sqrt(mse) = 12.07478135329619
42: sqrt(mse) = 9.91783026379161
43: sqrt(mse) = 11.023549199535925
44: sqrt(mse) = 10.42413807066227
45: sqrt(mse) = 12.265277215196093
46: sqrt(mse) = 12.146930364607384
47: sqrt(mse) = 11.237746552093396
48: sqrt(mse) = 10.705493812761192
49: sqrt(mse) = 10.074456462906674
50: sqrt(mse) = 11.772465829003552

In [39]:
# Calculate the mean and the standard deviation of the metric on the 50 samplings
mean_sqmse_D = np.mean(sq_mse_list_D)
std_sqmse_D  = np.std(sq_mse_list_D)

df_results.loc[df_results.shape[0]] = ["D",mean_sqmse_D,std_sqmse_D]
df_results

  Part  mean_sq_mse  std_sq_mse
0    A    18.369715    8.708396
1    B    18.725099    2.758979
2    C    12.824162    0.698012
3    D    11.248669    0.661782

<strong>You can refer to this [link](https://keras.io/models/sequential/) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!

This notebook was created by [Alex Aklson](https://www.linkedin.com/in/aklson/). I hope you found this lab interesting and educational. Feel free to contact me if you have any questions!


## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-09-21  | 2.0  | Srishti  |  Migrated Lab to Markdown and added to course repo in GitLab |



<hr>

## <h3 align="center">  IBM Corporation 2020. All rights reserved. <h3/>

This notebook is part of a course on **Coursera** called *Introduction to Deep Learning & Neural Networks with Keras*. If you accessed this notebook outside the course, you can take this course online by clicking [here](https://cocl.us/DL0101EN_Coursera_Week3_LAB1).

<hr>

Copyright &copy; 2019 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).